button{
    position:absolute;
    top:20px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.dark {
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}